#
# Copyright 2009 Nexell.
#
# Configuration options for the NXP4330

#
# Select Board
#

comment "SECRET Board features"

config BROADCOM_WIFI_USE_OOB
    bool "Use broadcom external gpio irq instead of sdio irq"
    default n

choice
    prompt "Select OOB IRQ Alive GPIO"
    depends on BROADCOM_WIFI_USE_OOB
    default OOB_INTR_ALIVE_0

config OOB_INTR_ALIVE_0
    bool "ALIVE0"

config OOB_INTR_ALIVE_1
    bool "ALIVE1"

config OOB_INTR_ALIVE_2
    bool "ALIVE2"

config OOB_INTR_ALIVE_3
    bool "ALIVE3"

config OOB_INTR_ALIVE_4
    bool "ALIVE4"

config OOB_INTR_ALIVE_5
    bool "ALIVE5"

config OOB_INTR_ALIVE_6
    bool "ALIVE6"

config OOB_INTR_ALIVE_7
    bool "ALIVE7"

endchoice

choice
    prompt "H/W Event Features"
    default SECRET_1ST_BOARD

	config SECRET_1ST_BOARD
		bool "H/W 1st Board"
		help
   	 		SECRET H/W 1st Board.

	config SECRET_2ND_BOARD
		bool "H/W 2nd Board"
		help
   	 		SECRET H/W 2nd Board.

	config SECRET_2P1ND_BOARD
		bool "H/W 2.1 Board"
		help
   	 		SECRET H/W 2.1 Board.

	config SECRET_3RD_BOARD
		bool "H/W 3rd Board"
		help
   	 		SECRET H/W 3rd Board.
			
	config SECRET_3P1RD_BOARD
		bool "H/W 3.1 Board"
		help
   	 		SECRET H/W 3.1 Board.
endchoice
